<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RELOADR</title>
</head>
<body>

<table border="1">
<tr><td>Gauge</td><td>{{ recipe.gauge }}</td></tr>
<tr><td>Powder</td><td>{{ recipe.powder }}</td></tr>
<tr><td>ShotType</td><td>{{ recipe.shotType }}</td></tr>
<tr><td>ShotWeight</td><td>{{ recipe.shotWeight }}</td></tr>
<tr><td>Primer</td><td>{{ recipe.primer }}</td></tr>
<tr><td>estPressure</td><td>{{ recipe.estPressure }}</td></tr>
<tr><td>estVelocity</td><td>{{ recipe.estVelocity }}</td></tr>
</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

</body>
</html>
