<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>RELOADR</title>
		<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" id="js">$(document).ready(function() {
			$("#recipes").tablesorter();
		});</script>

		<style type="text/css">
		#recipes th
			{
			cursor: pointer;
			text-align: center;
			}
		</style>
	</head>
	<body>

<form method=get action="/recipes/"><table>
	<thead>
		<tr>
			<th>Gauge</th>
			<th>Length</th>
			<th>Hulls</th>
			<th>Wads</th>
			<th>Powder</th>
			<th>Primer</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr><td>

			{% if table.Gauge %}
			<select multiple size=10 name=gauge>
				{% for gauge in table.Gauge.all %}
					<option value="{{gauge.id}}">{{gauge}}</option>
				{% endfor %}
			</select>
			{% else %}
				No Gauges Available
			{% endif %}

			</td><td>

			{% if table.Length %}
			<select multiple size=10 name=length>
				{% for length in table.Length.all %}
					<option value="{{length.id}}">{{length}}</option>
				{% endfor %}
			</select>
			{% else %}
				No Lengths Available
			{% endif %}

			</td><td>

			{% if table.Hull %}
			<select multiple size=10 name=hull>
				{% for hull in table.Hull.all %}
					<option value="{{hull.id}}">{{hull}}</option>
				{% endfor %}
			</select>
			{% else %}
			No Hulls Available
			{% endif %}

			</td><td>

			{% if table.Wad %}
			<select multiple size=10 name=wad>
				{% for wad in table.Wad.all %}
					<option value="{{wad.id}}">{{wad}}</option>
				{% endfor %}
			</select>
			{% else %}
				No Wads Available
			{% endif %}

			</td><td>

			{% if table.Powder %}
			<select multiple size=10 name=powder>
				{% for powder in table.Powder.all %}
					<option value="{{powder.id}}">{{powder}}</option>
				{% endfor %}
			</select>
			{% else %}
				No Powders Available
			{% endif %}

			</td><td>

			{% if table.Primer %}
			<select multiple size=10 name=primer>
				{% for primer in table.Primer.all %}
					<option value="{{primer.id}}">{{primer}}</option>
				{% endfor %}
			</select>
			{% else %}
				No Primers Available
			{% endif %}

		</td>
		<td><input type="submit" name="btnSrch" value="Search" /></td>
		</tr>
	</tbody>
</table></form>

{% if table.Recipe %}
<table border="1" id="recipes">
	<thead>
		<tr>
			<th>Gauge</th>
			<th>Hull</th>
			<th>Wad</th>
			<th>ShotType</th>
			<th>ShotWeight</th>
			<th>Powder</th>
			<th>Grains</th>
			<th>Primer</th>
			<th>estPressure(PSI)</th>
			<th>estVelocity(FPS)</th>
		</tr>
	</thead>
	<tbody>
	{% for recipe in table.Recipe.all %}
		<tr>
			<td>{{ recipe.gauge }}</td>
			<td>{{ recipe.hull }}</td>
			<td>{{ recipe.wad }}</td>
			<td>{{ recipe.shotType }}</td>
			<td>{{ recipe.shotWeight }}</td>
			<td>{{ recipe.powder }}</td>
			<td>{{ recipe.powderWeight }}</td>
			<td>{{ recipe.primer }}</td>
			<td>{{ recipe.estPressure }}</td>
			<td>{{ recipe.estVelocity }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p>No recipes are available.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	</body>
</html>
